extends layout

block content
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='stylesheets/main.css')
  script(src='/javascripts/city_state.js')
  script(src='javascripts/welcome.js')
  // Main Menu

  #welcome
    h1 #{title}
    .menu
      input#loginBtn.btn.menu(type='button' value='Login' )
    .menu
      input#signupBtn.btn.menu(type='button' value='Sign Up')
    .menu
      input#aboutBtn.btn.menu.invert(type='button' value='About')
  // The following are three hidden pop-up divs
  #loginBlanket.blanket(style='display: none;')
    #loginPage.spotlight
      h2 Login
      form.register(name='login' action='/dash' method="POST")
        div
          label.creds Email
        div
          input.creds(type='email' name='email' placeholder='Email' required='')
        div
          label.creds Password
        div
          input.creds(type='password' name='password' placeholder='Password' required='')
        div
        div
          input.btn(type='submit' value='Login')
  #signupBlanket.blanket(style='display: none;')
    #signupPage.spotlight
      h2 Sign Up
      form#signupForm.register(action='/welcome' method="POST")
        div
          label.creds First Name
        div
          input.creds(type='text' name='firstName' placeholder='First Name' required='')
        div
          label.creds Last Name
        div
          input.creds(type='text' name='lastName' placeholder='Last Name' required='')
        div
          label.creds Password
        div
          input.creds(type='password' name='password' placeholder='Password' required='')
        div
          label.creds Email
        div
          input.creds(type='email' name='email' placeholder='example@exam.com' required='')
        div
          label.creds Expertise
        div
          input.creds(type='text' name='expertise' placeholder='Cheap flights etc...' required='')
        div
          label.creds Region
        div
          select.creds(onchange="set_country(this,country,city_state)" size="1" name="region" required='')
            option(value="" selected="selected") SELECT REGION
            script(type="text/javascript").
              setRegions(this);
        div
          label.creds Country
        div
          select.creds(name="country" size="1" disabled="disabled" onchange="set_city_state(this,city_state)" required='')
        div
          label.creds City/State
        div
          select.creds(name="city_state" size="1" disabled="disabled" required='')
        div
        div
          input.btn(type='submit' value='Sign up')
  #aboutBlanket.blanket(style='display: none;')
    #aboutPage.aboutSpotlight
      h2 Group Members
      | Eli Simic Robertson
      br
      |  Studies Marketing major, completed majority of broadening units in Data Science.
      br
      |  Enjoys Python & Automating things 
      br
      br
      |  Tim Wise
      br 
      |  Studies Math & Data Science
      br
      br
      |  Loves abstract thinking, especially difficult math that seems useless
      br      
      | Taige Lui
      br
      |  Studies Physics & Data Science
      br
      |  Enjoys playing Piano
      h2 Matching Algorithm Explanation
      p Our matching algorithm matches users with similar preferences for the destinations in which they wish to travel. This is accomplished by using the aggregate operator on our Trip schema. Users can either select a region, country or city/state. City/state has the highest precedence in the algorithm (eg. If a user decides to select a city/state, the algorithm will search for city/state before matches of countries and so on.)
        |  The aggregation operation on the Trip schema allows the algorithm to make use of the $facet which splits the aggregation pipeline into, in our case four sub-pipelines. The sub-pipelines are as follows; city, country, region and global. All of these sub-pipelines have different weights in order to impose the precedence mentioned above. Note, the global pipeline returns any results if not enough matches meet the limit of ten.
        |  Finally, all sub-pipeline results are returned into separate arrays, they are concatenated and then projected into a readable form for the user.
      h2 Architecture and Design Choices
      p Initially, our group decided to take a overall bottom-up approach to the design process. As we were new to these frameworks and even Javascript, we thought taking a top down approach would be difficult to execute. So we set small goals (eg. display users info when logged in) then we built on top of these goals.
        |  We used the given projects on CITS5504 website and other tutorials to base our user validation and the general routing around the application. However, we found that using a lot of routes without Angular was creating a lot of page refreshes, so we decided to use Ajax to create a more seamless user experience.
        |  The design for our matching algorithm came relatively naturally, however implementing it was far more difficult. We found inconsistencies with different responses from using the mongo shell and using mongo inside of Node.js.
        |  Another difficulty was separating the workflow, as we went for a bottom-up approach each stage was heavily reliant on the prior. We found at times, this meant a group member could only work on the project at a time. This was obviously, very efficient and required better planning.
        |  Overall, the MEAN stack seems to be a relatively easy architecture to use considering it is all javascript. However, compared to a lot of other Computer Science/Data Science units there was a lot of content to learn. We would argue the content was not to difficult to comprehend rather the volume of content at times was overwhelming. Ultimately, this is a very powerful technology with vast applications and it has been an overall enjoyable experience. 
      //- h2 Git Hub Repository
      a(href="https://github.com/franticOreo/oreoTravel" target="_blank") Git Hub Repo
      br
      br
      h2 Heroku Instructions
      a(href="https://still-lake-64912.herokuapp.com/" target="_blank") Heruko Website
      h2 References
      a(href="https://www.pexels.com/" target="_blank") Images
      a(href="https://teamtreehouse.com/") Express Basics Tutorial, Mongodb Basics Tutuoria, User Authentication with Express and Mongo
